.navbar {
  width: auto; /* This will make the navbar width fit to the content */
  padding: 0 20px; /* Added padding */
  height: 100vh;
  background: #1a1a1d;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-15%);
  transition: transform 0.3s ease-in-out;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #C5B783;
}

.navbar a {
  color: #C5B783;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
  text-align: center;
}

.toggleButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #e9d35b;
  cursor: pointer;
}

.toggleButton svg {
  font-size: 50px;
}

#open {
  transform: translateX(0);
}

@media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100vh;
  }

  #open .links {
    flex-direction: column;
  }
}
